{% extends 'base.html' %}

{% block title %} New User {% endblock %}

{% block content %}
<h1>Edit post</h1>
<form action="/posts/{{post.id}}/edit" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="input" class="form-control" id="title" name="title" value='{{ post.title }}' required>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <input type="input" class="form-control" id="content" name="content" value='{{ post.content }}' required>
    </div>
    <a href="/users/{{post.author_id}}" class="btn btn-primary">Cancel</a>
    <input type="submit" class="btn btn-success" value="Edit">
</form>

{% endblock %}