{% extends 'base.html' %}

{% block title %} New User {% endblock %}

{% block content %}
<h1>Add post for {{ user.fullname() }}</h1>
<form action="/users/{{user.id}}/posts/new" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="input" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" id="content" cols="30" rows="5" class="form-control" required></textarea>
    </div>
    <a href="/user/{{user.id}}" class="btn btn-primary">Cancel</a>
    <button type="submit" class="btn btn-success">Add</button>
</form>

{% endblock %}